@font-face {
  font-family: 'ds_digital';
  src: url('C:\Users\96mck\.vscode\LogInLogOut\src\components\font\ds_digital\DS-DIGI.TTF');
}

.error-page-container {
  background-image: url('C:\\Users\\96mck\\.vscode\\LogInLogOut\\src\\components\\images\\nik-fDaUCTp28dA-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set the height to cover the viewport */
  width: 100vw; /* Set the width to cover the viewport */
  font-family: 'ds_digital';
  font-weight: bold;
  color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.error-message {
  font-family: 'ds_digital';
  font-weight: bold;
  font-size: 18px;
  color: red;
}

.back-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
